@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,400i,700,700i,900,900i');
$yellow: #FDE542;

.alert {
    background-color: lighten($yellow, 25%);
    border: 1px solid darken($yellow, 10%);
    color: darken($yellow, 20%);
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 3px;
    bottom: 80px;
    position: fixed;
    left: 1rem;
    right: 1rem;
    z-index: 3;

    a {
        cursor: pointer;
        float: right;
    }
}

.alert-warning {
    background-color: lighten($yellow, 25%);
    border: 1px solid darken($yellow, 10%);
    color: darken($yellow, 20%);
}

body,
html {
    margin: 0;
    font-family: 'Exo 2';
    background-color: #EFEFEF;
    height: 100%;
}

h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

label {
    margin-bottom: .5rem;
    display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    display: block;
    width: 200px;
    font-size: 1rem;
    font-family: 'Exo 2';
}

.btn {
    font-family: 'Exo 2';
    border: 0;
    border-radius: 30px;
    line-height: 1;
    background-color: black;
    color: $yellow;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    min-height: 40px;
    width: auto;
    min-width: 120px;
    text-transform: uppercase;
    padding: 0.5rem 1rem;

    &:last-of-type {
        margin-right: 0;
    }


    &.disabled,
    &[disabled] {
        opacity: .6;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.btn-link {
    display: inline-flex;
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px dashed gray;
    margin: 0;
    margin-right: .5rem;
    min-width: 0;
    min-height: 30px;
    width: auto;
    padding: 0;
    text-align: left;
    color: black;
    text-transform: none;
    font-weight: normal;
}

.btn--default {
    background-color: black;
    color: $yellow;
}

.btn--success {
    background-color: $yellow;
    color: black;
}

hr {
    border: 0;
    height: 0;
    border-top: 2px solid black;
}

hr.dotted {
    border-top: 1px dotted black;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section--reward {
    background-color: $yellow;

    .list--nav {
        bottom: 1.2rem;

        button {
            &:before {
                background: transparent;
                border: 2px solid black;
            }
        }
    }
}

.section--notifications {
    background-size: cover;
    background-position: center center;
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;

    &:before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

.region {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.region--container {
    flex-direction: row;
    flex: 1 1 100%;
    flex-wrap: wrap;
    z-index: 1;
    height: 100%;
}

.region--navigation {
    z-index: 2;
    flex: 0 60px;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.region--header {
    color: black;
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: #FBE54D;
    // background-image: url("./assets/background_header.jpg");
    background-size: cover;
    background-position: center center;
    flex: 1 auto;

    & + .region--container .region--content {
        margin-top: -1rem;
    }
}

.region--jumbotron {
    flex-flow: column;
    justify-content: center;
    background: #EFEFEF;
    padding: 1rem;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .font-size-xl {
        font-size: 2rem;
    }

    h1 {
        margin-bottom: .5rem;
    }

    @media (min-width: 768px) {
        align-items: center;
        text-align: center;
        padding: 3rem;

        .font-size-xl {
            font-size: 4rem;
        }
    }
}

.region--content {
    flex: 1 auto;
    display: block;
    margin: 1rem;
    border-radius: 5px;
    background-color: white;
    padding: 1rem;
    width: calc(100% - 4rem);
    overflow: auto;
    height: calc(100% - 2rem);
}

.link-settings {
    position: absolute;
    right: 1rem;
    top: 2rem;
    text-decoration: none;
    color: black;
    display: block;
    background: none;
    border: 0;

    img {
        display: block;
        width: 40px;
        height: 40px;
    }
}

.navbar {
    width: 100%;
    height: 60px;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;

    li {
        display: flex;
        flex: 1 calc(100% / 3);
        justify-content: center;
    }

    a {
        justify-content: center;
        display: flex;
        align-items: center;
        height: 50px;
        border-radius: 5px;
        width: 50px;
        margin: 5px;
        position: relative;

        &.router-link-exact-active {
            background: rgba(0,0,0,0.1);
        }
    }
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list--nav {
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    bottom: calc(60px + 1rem);
    text-align: center;
    width: 100%;
    justify-content: center;

    button {
        display: flex;
        background: transparent;
        border: 0;
        font-size: 0;
        padding: 10px;

        &.active:before {
            background-color: black;
        }

        &:before {
            content: "";
            display: block;
            background: white;
            border-radius: 50%;
            width: 10px;
            height: 10px;
        }
    }
}

.list--dotted {
    display: block;
    width: 100%;

    li {
        display: flex;
        padding: 1rem 0;
        border-bottom: 1px dotted #d6d6d6;

        &:last-child {
            border-bottom: 0;
        }

        .description {
            display: inline-flex;
            flex-direction: column;
            justify-content: flex-start;
            flex: 1;

            div {
                margin-bottom: .5rem;

                &:last-child {
                    margin: 0;
                }
            }
        }

        .actions {
            flex: 0 auto;
            display: inline-flex;
            align-items: center;
        }
    }
    // strong {
    //   float: right;
    // }
}

.list-bullets {
    padding-left: 1.5rem;
    list-style: circle;
}

.badge {
    font-size: 0.6rem;
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
}

.badge--warning {
    padding: 0.3rem 0.5rem;
    background: $yellow;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: 10px;
}

.badge--default {
    background: #EFEFEF;
}

.list--swipe {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    overflow: auto;
    height: 100%;
}

.notification {
    background-color: white;
    width: calc(100vw - 4rem);
    margin: 1rem 1rem;
    padding: 1rem;
    border-radius: 10px;
    flex: 1 auto;
    display: block;

    &__actions {
        width: 100%;
        display: flex;

        .btn {
            flex: 1 50%;
        }
    }
}

.splash {
    width: calc(100vw - 4rem);
    flex: 1 auto;
    display: block;
    background: transparent;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 1rem 4.5rem;
    padding: 1rem;
    overflow: auto;

    img {
        max-width: 280px;
        margin-top: 2rem;
    }
}

.btn--close {
    font-size: 0;
    border-radius: 50%;
    min-width: 40px;
    width: 41px;
    height: 41px;
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    transform: rotate(45deg);

    &:after,
    &:before {
        content: '';
        display: block;
        width: 23px;
        height: 2px;
        background-color: $yellow;
        position: absolute;
        top: 19px;
        left: 9px;
    }

    &:after {
        transform: rotate(90deg);
    }
}

.logo {
    display: block;
    width: 100%;
}

.font-size-large {
    font-size: 2rem;
    font-weight: bold;
}

.font-size-xl {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -61px;
    margin-left: -61px;
    font-size: 10px;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(252, 197, 57, 0.2);
    border-right: 1.1em solid rgba(252, 197, 57, 0.2);
    border-bottom: 1.1em solid rgba(252, 197, 57, 0.2);
    border-left: 1.1em solid #fdc539;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loading 1.1s infinite linear;
    animation: loading 1.1s infinite linear;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
