@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,400i,700,700i,900,900i');

$yellow: #FDE542;

html,
body {
  margin: 0;
  font-family: 'Exo 2';
  background-color: #EFEFEF;
  height: 100%;
}

h3 {
  margin-bottom: .5rem;
}

input,
textarea {
  padding: .5rem;
  margin-bottom: .5rem;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  display: block;
  width: 200px;
  font-size: 1rem;
}

.btn {
  font-family: 'Exo 2';
  border: 0;
  border-radius: 10px;
  line-height: 1;
  background-color: black;
  color: $yellow;
  margin-bottom: .5rem;
  margin-right: .5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  min-height: 40px;
  width: auto;
  min-width: 120px;
  text-transform: uppercase;
  padding: .5rem 1rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.btn--default {
  background-color: black;
  color: $yellow;
}

.btn--success {
  background-color: $yellow;
  color: black;
}

hr {
  border: 0;
  height: 0;
  border-top: 2px solid black;
}

hr.dotted {
  border-top: 1px dotted black;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section--reward {
  background-color: $yellow;

  .list--nav {
    bottom: 2rem;

    button {
      &:before {
        background: transparent;
        border: 2px solid black;
      }
    }
  }
}

.section--notifications {
  background-size: cover;
  background-position: center center;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;

  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.region {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.region--container {
  flex-direction: row;
  flex: 1 1 100%;
  flex-wrap: wrap;
  overflow: auto;
  z-index: 1;
}

.region--navigation {
  z-index: 2;
  flex: 0 60px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.5)
}

.region--header {
  background: black;
  color: white;
  padding: 1rem;
  background-image: url('./assets/background_header.jpg');
  background-size: cover;
  background-position: center center;
  flex: 0 auto;

  & + .region--content {
    margin-top: -1rem;
  }
}

.region--content {
  flex: 1 auto;
  display: block;
  margin: 1rem;
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
  width: calc(100% - 4rem);
  overflow: auto;
  height: calc(100vh - 290px);
}

.navbar {
  width: 100%;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  width: 100%;

  li {
    display: flex;
    flex: 1 calc(100% / 3);
  }

  a {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list--nav {
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  bottom: calc(60px + 1rem);
  text-align: center;
  width: 100%;
  justify-content: center;

  button {
    display: flex;
    background: transparent;
    border: 0;
    font-size: 0;
    padding: 10px;

    &.active:before {
      background-color: black;
    }

    &:before {
      content: "";
      display: block;
      background: white;
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }
  }
}

.list--dotted {
  display: block;
  width: 100%;

  li {
    display: block;
    padding: 1rem 0;
    border-bottom: 1px dotted #d6d6d6;

    &:last-child {
      border-bottom: 0;
    }
  }

  strong {
    float: right;
  }
}

.badge {
  font-size: .6rem;
  padding: .3rem .6rem;
  border-radius: 1rem;
}

.badge--warning {
  padding: .3rem .5rem;
  background: $yellow;
  color: black;
  text-decoration: none;
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: 10px;
}

.badge--default {
  background: #EFEFEF;
}

.list--swipe {
  display: flex;
  flex-direction: row;
}

.notification {
  background-color: white;
  width: calc(100vw - 4rem);
  margin: 1rem;
  margin-bottom: 4.5rem;
  padding: 1rem;
  border-radius: 10px;
  flex: 1 auto;
  display: block;
  overflow: auto;

  &__actions {
    width: 100%;
    display: flex;

    .btn {
      flex: 1 50%;
    }
  }
}

.splash {
  width: calc(100vw - 4rem);
  flex: 1 auto;
  display: block;
  background: transparent;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
  margin-bottom: 4.5rem;
  padding: 1rem;

  img {
    margin-top: 2rem;
  }
}

.btn--close {
  font-size: 0;
  border-radius: 50%;
  min-width: 40px;
  width: 41px;
  height: 41px;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transform: rotate(45deg);

  &:before,
  &:after {
    content: '';
    display: block;
    width: 23px;
    height: 2px;
    background-color: $yellow;
    position: absolute;
    top: 19px;
    left: 9px;
  }

  &:after {
    transform: rotate(90deg)
  }
}

.logo {
  display: block;
  width: 100%;
}

.font-size-large {
  font-size: 2rem;
  font-weight: bold;
}

.font-size-xl {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}
