@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,400i,700,700i,900,900i');

$yellow: #FDE542;
$blue: #039be5;

.bg-info {
    background-color: $blue !important;
}

body,
html {
    margin: 0;
    font-family: 'Exo 2';
    background-color: #EFEFEF;
    height: 100%;
    font-size: 14px;

    @media(min-width: 768px) {
        font-size: 1rem;
    }
}

h2 {
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px dotted black;
}

a,
.btn-link {
    color: $blue;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: $blue;
    }
}

.btn-link {
    border-radius: 20px;

    &:hover {
        background: #EFEFEF;
    }
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.region {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.region-container {
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    z-index: 1;
    height: 1px;

    &.overflow {
        overflow: auto;
    }
}

.region-navigation {
    z-index: 2;
    flex: 0 60px;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.bg-yellow {
    background-color: #FBE54D;
}

.region-header {
    color: $yellow;
    padding: 2rem 1rem;
    padding-bottom: 3rem;
    background-color: #333; //#FBE54D;
    // background-image: url("./assets/background_header.jpg");
    background-size: cover;
    background-position: center center;
    flex: 0 auto;
    width: 100%;

    p {
        line-height: 1;
    }

    & + .region-container .region-content {
        margin-top: -2rem;
    }
}

.region-jumbotron {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $blue;
    margin: -1rem -1rem 0 -1rem;
    padding: 2rem 1rem calc(42px + 1rem) 1rem;
    color: white;
    text-align: center;

    p {
        margin: 0;
    }

    @media (min-width: 768px) {
        padding: 3rem 3rem calc(42px + 3rem) 3rem;
    }
}

.region-content {
    flex: 1 auto;
    display: block;
    margin: 1rem;
    border-radius: 5px;
    background-color: white;
    padding: 1rem;
    width: calc(100% - 4rem);
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    box-shadow: 0 -10px 15px rgba(0, 0, 0, .2);
}

.section-notifications {
    background-size: cover;
    background-position: center center;
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;

    &:before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

.btn-primary {
    background-color: black;
    color: $yellow;

    &:hover,
    &:focus,
    &:active:focus {
        background-color: $yellow !important;
        color: black !important;
    }
}

.btn-danger,
.btn-secondary,
.btn-success,
.btn-primary {
    font-family: 'Exo 2';
    border: 0;
    border-radius: 30px;
    line-height: 1.5;
    font-weight: bold;
    min-height: 40px;
    text-transform: uppercase;
    padding: 0.5rem 1rem;

    &:last-of-type {
        margin-right: 0;
    }

    &.disabled,
    &[disabled],
    &.disabled:focus,
    &[disabled]:focus {
        opacity: .6;
        cursor: not-allowed;
        pointer-events: none;
        background-color: $gray-400;
        box-shadow: none;
    }

    &.btn-inverse {
        background-color: $yellow;
        color: black;
    }
}

.disabled {
    opacity: .6;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
}

.link-settings {
    position: absolute;
    right: 1rem;
    top: 2rem;
    text-decoration: none;
    display: block;
    color: black;
    background: none;
    border: 0;
}

.logo {
    display: block;
    width: 100%;
}

.font-size-large {
    font-size: 2rem;
    font-weight: bold;
}

.font-size-xl {
    font-size: 2rem;
    font-weight: bold;

    @media (min-width: 768px) {
        font-size: 4rem;
    }
}

.nav-fill {
    width: 100%;
}

.nav-link {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem .5rem;

}

.router-link-exact-active {
    background: #EFEFEF;
}

.nav-tabs {
    margin-top: -50px;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0 1rem;
    background: transparent;

    @media (min-width: 768px) {
        margin-top: -58px;
    }

    a {
        color: white;
        font-weight: bold;
        text-transform: uppercase;

        &:hover,
        &:active,
        &:focus {
            background: transparent;
            border: 0;
        }

        &.nav-link.active {
            background: transparent;
            border-color: transparent;
        }
    }
}

.tab-pane:focus {
    outline: 0;
}

.close {
    font-family: Arial;
}

.b-toaster {
    bottom: 60px !important;
}

.region-header .account-picture {
    box-shadow: 0 0 0px 4px rgba(255,255,255,.3);
}

.account-picture {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #333;
    font-weight: bold;
    font-size: 1.5rem;

    &.account-picture-xs {
        width: 25px;
        height: 25px;
        max-width: 25px;
        max-height: 25px;
        font-size: 1rem;
    }

    &.account-picture-sm {
        width: 50px;
        height: 50px;
        max-width: 50px;
        max-height: 50px;
    }

    &.account-picture-lg {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        font-size: 2rem;
    }
}

.card-pool .card-header {
    background-color: #039be5;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .card-pool .card-header {
        height: 200px;
    }
}

.router-link-active {
    background: $gray-200;
}

.list-item-text-overflow {
    max-width: 200px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}
