@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,400i,700,700i,900,900i');

body,
html {
    margin: 0;
    font-family: 'Exo 2';
    background-color: #EFEFEF;
    height: 100%;
    font-size: 14px;

    @media(min-width: 768px) {
        font-size: 1rem;
    }
}

h2 {
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

$yellow: #FDE542;

hr {
    border: 0;
    height: 0;
    border-top: 1px dotted black;
}

.table td {
    vertical-align: middle;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.region {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.region--container {
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    z-index: 1;
    height: 100%;

    &.overflow {
        overflow: auto;
    }
}

.region--navigation {
    z-index: 2;
    flex: 0 60px;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.bg-yellow {
    background-color: #FBE54D;
}

.region--header {
    color: $yellow;
    padding: 2rem 1rem;
    padding-bottom: 3rem;
    background-color: #333; //#FBE54D;
    // background-image: url("./assets/background_header.jpg");
    background-size: cover;
    background-position: center center;
    flex: 0 auto;
    width: 100%;

    p {
        line-height: 1;
    }

    & + .region--container .region--content {
        margin-top: -2rem;
    }
}

.region--jumbotron {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #039be5;
    margin: -1rem -1rem 0 -1rem;
    padding: 1rem 1rem calc(42px + 1rem) 1rem;
    color: white;
    text-align: center;

    p {
        margin: 0;
    }

    @media (min-width: 768px) {
        padding: 3rem 3rem calc(42px + 3rem) 3rem;
    }
}

.region--content {
    flex: 1 auto;
    display: block;
    margin: 1rem;
    border-radius: 5px;
    background-color: white;
    padding: 1rem;
    width: calc(100% - 4rem);
    overflow: auto;
    height: 100%;
}

.section--notifications {
    background-size: cover;
    background-position: center center;
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;

    &:before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

.btn-primary {
    font-family: 'Exo 2';
    border: 0;
    border-radius: 30px;
    line-height: 1;
    background-color: black;
    color: $yellow;
    font-weight: bold;
    min-height: 40px;
    text-transform: uppercase;
    padding: 0.5rem 1rem;

    &:last-of-type {
        margin-right: 0;
    }


    &.disabled,
    &[disabled] {
        opacity: .6;
        cursor: not-allowed;
        pointer-events: none;
    }
}


.link-settings {
    position: absolute;
    right: 1rem;
    top: 2rem;
    text-decoration: none;
    display: block;
    color: black;
    background: none;
    border: 0;
}

.logo {
    display: block;
    width: 100%;
}

.font-size-large {
    font-size: 2rem;
    font-weight: bold;
}

.font-size-xl {
    font-size: 2rem;
    font-weight: bold;

    @media (min-width: 768px) {
        font-size: 4rem;
    }
}

.nav-fill {
    width: 100%;
}

.nav-link {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem .5rem;

}

.router-link-exact-active {
    background: #EFEFEF;
}

.nav-tabs {
    margin-top: -50px;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0 1rem;
    background: transparent;

    @media (min-width: 768px) {
        margin-top: -58px;
    }

    a {
        color: white;
        font-weight: bold;
        text-transform: uppercase;

        &:hover,
        &:active,
        &:focus {
            border: 0;
        }

        &.nav-link.active {
            background: transparent;
            border-color: transparent;
        }
    }
}

.close {
    font-family: Arial;
}

.b-toaster {
    bottom: 60px !important;
}
